#outerdiv {
  background-color: green;
  height: 600px;
}

#innerdiv {
  background-color: aqua;
  height: 300px;
  width: 50%;
}

ul{
  background-color: brown;
  padding: 0;
}

li{
  width: 50%;
  background-color: beige;
  list-style: none;
  height: 30px;
}

img{
  margin: 20px;
}
